@using LanguageProject.Models
@model LoginViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="login-content" class="login-content">
    <div class="awe-parallax bg-login-content"></div>
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- FORM -->
            <div class="col-xs-12 col-lg-4 pull-right">
                <div class="form-login">

                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2 class="text-uppercase">sign in</h2>
                        <div class="form-email">
                            @Html.TextBoxFor(m => m.Email, new { @placeholder="Email"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-password">
                            @Html.PasswordFor(m=>m.Password, new { @placehoder="Password"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })   
                        <div class="form-check">
                            <input type="checkbox" id="check">
                            <label for="check">
                                <i class="icon md-check-2"></i>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                 Remember me
                            </label>
                            <a href="#">Forget password?</a>
                        </div>
                        <div class="form-submit-1">
                            <input type="submit" value="Sign In" class="mc-btn btn-style-1">
                        </div>
                        <div class="link">
                        
                            <a href="@Url.Action("Register")">
                                <i class="icon md-arrow-right"></i>Don’t have account yet ? Join Us
                            </a>
                        </div>
                    }
                
                </div>
            </div>
            <!-- END / FORM -->

            <div class="image">
                <img src="/images/homeslider/img-thumb.png" alt="">
            </div>

        </div>
    </div>
</section>
<!-- END / LOGIN -->
