@using LanguageProject.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_UserBar.cshtml")
<section id="quizz-intro-section" class="quizz-intro-section learn-section" style="min-height: 332px;padding-top:0px">
    <div class="container">

        <div class="title-ct">
            <h3><strong></strong></h3>
        </div>

        <div class="table-student-submission">
            <table class="mc-table">
                <thead>
                    <tr>
                        <th class="submissions">#</th>
                        <th class="author">Course <span class="caret"></span></th>
                        <th class="score">Teacher <span class="caret"></span></th>
                        <th></th>
                        <th class="submit-date">Submit date <span class="caret"></span></th>
                        <th>Fee</th>
                        <th class="">Status</th>


                    </tr>
                </thead>

                <tbody>

                    @foreach (CourseSession cs in ViewBag.Courses)
                    {

                        <form action="@Url.Action("ChangeStatus","Account")" method="post">
                            <input type="hidden" name="SeId" value="@cs.Id" />
                            <input type="hidden" name="SeStatus" value="@cs.Status" />
                            <tr class="new">
                                <td>@cs.Id</td>
                                <td class="submissions">@cs.Course.Title</td>
                                <td class="author">@cs.Teacher.FName</td>
                                <th><img style="width:30px" src="@cs.Teacher.AvatarPath" /></th>
                                <td class="score">@cs.When</td>
                                <td class="submit-date">@cs.Course.Cost $</td>
                                <td>
                                    @switch (cs.Status)
                                    {

                                        case "Waiting Accept":
                                            <button type="button" class="btn btn-secondary">@cs.Status</button>
                                            break;
                                        case "Accepted":
                                            <input type="submit" class="btn btn-primary" value="Confirm Session"/>  
                                                break;
                                        case "Completed":
                                            <button type="button" class="btn btn-success">@cs.Status</button>
                                            break;



                                    }

                                </td>
                            </tr>
                        </form>
                    }











                </tbody>
            </table>
        </div>


    </div>
</section>