@using LanguageProject.Models

@{

    int mycount = 1;
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<div class="page-title">
    <h3>Student</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">

            </div>
            <div class="grid-body no-border">
                <table class="table no-more-tables">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Country</th>
                            <th>Balance</th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (User u in ViewBag.Students)
                        {
                            <tr>
                                <td>@mycount</td>
                                <td>@u.FName</td>
                                <td>@u.LName</td>
                                <td>@u.Country</td>
                                <td>@u.Balance</td>
                                <td><img style="width:30px" src="@u.AvatarPath" /></td>
                                <td><a class="btn btn-primary btn-cons" href="/admin/MyUser/@u.Id">Edit</a></td>
                            </tr>
                            mycount++;
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
